body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(257, 36%, 48%);
  overflow-y:hidden; 
}

code {
  font-family: 'Poppins', sans-serif;
}
